:root {
    /* FONT SIZE */
    --small: 14px;
    --medium: 16px;
    --large: 18px;

    /* COLORS WHITE THEME */
    --font-color-base: #e2e2e2;
    --font-color-active: #c5ff9b;
    --font-color-focus: #ccefb4;

    --body-bg-color: #121212;
    --main-blocks-color: #292929;
    --nav-blocks-color: #222222;

    --scrollbar-color: #222222 #121212;

    /* FONTS */
    --fzkai: '';
    --noto: '';

}
